<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title" style="padding-left: 10px;">Recent Gratitude's</h3>
	</div>
	<div class="panel-body">
		<% var gratitudes = pageData.gratitudes; %>
		<% for(var i=0; i < gratitudes.length; i++) { %>
		<% var gratitude = gratitudes[i]; %>
		<div id="<%= gratitude.id %>" class="gratitude-topic panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-8">
						<h3 class="panel-title topic-subject-small"><%= gratitude.subject %></h3>
					</div>
					<div class="col-xs-4">
						<small class="smaller"><%= timeSince(gratitude.createddate) %></small>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<p class="topic-text-small"><%= gratitude.text %></p>
			</div>
		</div>
		<% } %>
		<% if (gratitudes.length == 0) { %>
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-8">
						<h3 class="panel-title topic-subject-small">Nothing yet :(</h3>
					</div>
					<div class="col-xs-4">

					</div>
				</div>
			</div>
			<div class="panel-body">
				<p class="topic-text-small">
					You can be the first one!
				</p>
			</div>
		</div>
		<% } %>
	</div>
</div>