<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/navbar.css">
<script src="/assets/jquery-1.9.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/navbar.js"></script>