<nav id="nav-wrap">
	<ul id="nav" class="nav">
		<li><a id="home-navigation" class="navigation" href="/">Home</a></li>
		<li><a id="app-navigation" class="navigation" href="/app">Application</a></li>
		<li><a id="about-navigation" class="navigation" href="/about">About</a></li>
	</ul>
</nav>