<nav id="nav-wrap">
	<ul id="nav" class="nav">
		<li><a id="home-navigation" class="navigation" href="/">Home</a></li>
		<li><a id="winline-navigation" class="navigation" href="/winline">Winline</a></li>
		<li><a id="online-navigation" class="navigation" href="/online">Online</a></li>
		<li><a id="download-navigation" class="navigation" href="/download">Download</a></li>
		<li><a id="social-navigation" class="navigation" href="/social">Social</a></li>
		<li><a id="about-navigation" class="navigation" href="/about">About</a></li>
	</ul>
</nav>