/*
    common
*/
button,input {
    outline: none !important;
}

#refreshFlashDrives,#feedbackModal {
    width: 100%;
}

#feedback-email,#feedback-text {
    padding-left: 20px;
}

#showFlashDrives {
    cursor: pointer;
}

#flashDriveCapacity {
    padding-left: 10px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    padding-left: 5px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.trian {
    width:      		auto;
    height:     		170px;
    padding: 			10px;
    border:     		1px solid white;
    box-shadow: 		5px 5px 15px #193C54;
    -webkit-box-shadow: 5px 5px 15px #193C54;
    -moz-box-shadow: 	5px 5px 15px #193C54;
}

.loader-iso {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
}

.loader-item {
    padding-top: 20px !important;
}

#loader-list {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding-right: 15px;
}

.color-black {
    color: black !important;
}

.color-white {
    color: white;
}

.loader-action-remcancel {
    width: 15px;
    height: 15px;
    margin-top: -23px;
    margin-right: -12px;
    display: block;
    float: right;
    background-color: rgba(0, 0, 0, 0.0001);
    color: red;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.menu-toggle-padding {
    margin-right: 93px;
}

.loader-row {
    padding-top: 25px;
}

/*
    side bar
*/
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/*
    flash drives list
*/

.list-group > a.disabled {
    color: #999999;
}
.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
    color: #999999;
    text-decoration: none;
    cursor: not-allowed;
}

.list-group > a.list-group-item:hover,
.list-group > a.list-group-item:focus {
    color: white;
    text-decoration: none;
    background: #193C54;
}

.list-group > a:hover > .list-group-item-text,
.list-group > a:focus > .list-group-item-text {
    color: lightgray;
    text-decoration: none;
}

.list-group > a:hover > .list-group-item-heading,
.list-group > a:focus > .list-group-item-heading {
    color: white;
    text-decoration: none;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 230px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    overflow-x: hidden;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #193C54;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 230px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 230px;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 5px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 230px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 230px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#burnContainer {
    padding-left: 70px;
}

/* FIX BOOTSTRAP */

.sidebar-column {
    width: 240px !important;
}

/* PROGRESS BAR */

#flashDriveProgressBar {
    margin-right: 10px;
}

.progress {
    margin-top: 10px;
}

.loader-type-select {
    width: 75%;
    height: 35px;
    display: inline;
}

#flashDriveSizeBarGreen {
    width: 0;
}

#menu-toggle {
    cursor: pointer;
}