<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/css/about.css">

	<% include partials/head.ejs %>

	<script src="/js/about.js"></script>
</head>

<body>

<% include partials/navigation.ejs %>

<header id="header">
	<div class="banner">
		<div class="banner-text">
			<h1>Welcome</h1>
			<h1><small><a href="#about" class="smoothscroll"> Learn more about us<br><i class="fa fa-arrow-circle-o-down fa-1x"></i></a></small></h1>
		</div>
	</div>
	<h4>Please feel free to contact us if you have any questions or suggestions. Mail: <a href="mailto:support@bootline.net">support@bootline.net</a></h4>
</header>
<section id="about" class="banner-text">
	<h2>What it is?</h2>
	<h4>This service let you to do bootable USB flash drive with many of ISO images, without loosing data. You can do it in a two ways. First way it is <a class="link-in-header" href="/app">online, in your browser</a>,
		without downloading and launching any suspicious EXE program. Second way, you can <a class="link-in-header" href="/download/application">download portable application</a> and do all this stuff.</h4>
	<hr>
	<h2>Thought, how to do it easy and online</h2>
	<h4>We have a thought about bootable USB drive with more than one ISO image without lost important data... online!
		For a example, when you need bootable USB drive - you bought a brand new MacBook with OSX El Capitan,
		but you are Windows user. Your current notebook with Windows or Linux onboard died, you have to rescue data
		than check for viruses, reinstall Windows-notebook to bring it to your young sister and all of this actions
		could be done without pain with just one bootable usb with 3-4 bootable software on board.
		But multiple USB it is not easy thing. It is something like GRUB or LiLo.
		And now you have to start searching some information how to do it. You are wasting time and money.
		You became tired and stressed. Our application let you do bootable USB drive online into your browser
		(for now supports only Internet Explorer, but it is just for now).
	</h4>
	<hr>
	<h1></h1>
</section>
</body>
</html>