<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="/assets/lightslider/lightslider.css">

	<!--[if IE]>
		<link rel="stylesheet" href="/assets/small_ui/css/main_ie.css">
	<![endif]-->
</head>

<body>
<nav id="nav-wrap">
	<ul id="nav" class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/app" class="active">Application</a></li>
		<li><a href="/about">Contact</a></li>
		<input id="sessionId" type="hidden">
		<input id="isClickOnce" type="hidden">
		<input id="isAppRunning" type="hidden">
		<input id="application-url" type="hidden" href="/clickonce/ClickLine.application">
	</ul>
</nav>
<section id="app">
	<div id="page-content" class="row">
		<ul id="light-slider">
			<li>
				<a href="http://investmir.biz/wp-content/uploads/2015/06/google-logo-black-1920-800x450.jpg" data-simplbox>
					<img class="helper-image" width="200px" height="100px" src="http://investmir.biz/wp-content/uploads/2015/06/google-logo-black-1920-800x450.jpg" alt="My image description that will be used">
				</a>
			</li>
			<li>
				<a href="http://investmir.biz/wp-content/uploads/2015/06/google-logo-black-1920-800x450.jpg" data-simplbox>
					<img class="helper-image" width="200px" height="100px" src="http://investmir.biz/wp-content/uploads/2015/06/google-logo-black-1920-800x450.jpg" alt="My image description that will be used">
				</a>
			</li>
		</ul>
		<div class="row">
			<div id="right-content" class="col-lg-12">
				<div class="row" style="padding-bottom: 30px;">
					<div class="col-lg-1 col-lg-offset-5">
						<button id="launchApp" class="btn btn-primary btn-circle btn-lg">START APP</button>
						<button id="debug" class="btn btn-default col-lg-12">Debug</button>
					</div>
				</div>
				<div id="loader-list">
					<div class="row loader-row">
						<div class="col-lg-6">
							<div id="addLoaderBtn" class="trian box-shadow"><div id="addCross"></div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>


<% include partials/head.ejs %>

<script src="/js/app.js"></script>
<script src="/assets/lightslider/lightslider.js"></script>
<script src="/assets/simplbox/simplbox.js"></script>