<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine - Download Portable Application</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<link rel="stylesheet" href="/css/download.css">

	<script src="/js/download.js"></script>
</head>

<body>

<% include partials/navigation.ejs %>

<section id="app">
	<div id="page-content" class="row">
		<div class="jumbotron">
			<h1>Bootline.exe <small>Version - 1.0.1</small></h1>
			<p class="description">Simple, portable and lightweight tool, lets you burn flash drive with multiple ISO. BootLine helps you to install Windows 7,8,10 or run live images like Kaspersky Rescue Disk or CloneZilla from USB stick without formatting it.</p>
			<p class="whatnew">What's new?</p>
			<ul>
				<li>Added information page with "Guide", "About", "EULA" and "Feedback" sections</li>
				<li>Fixed bug with refreshing drive capacity after closing loader frame</li>
				<li>Fixed bug with ejecting USB drive while choosing loaders</li>
			</ul>
			<p class="jbtn"><a class="btn btn-primary btn-lg" href="/download/application" role="button">Download last version</a></p>
		</div>
		<div id="howto" class="row">
			<div class="col-lg-10 col-lg-offset-2">
				<h2>Three easy steps to make bootable USB</h2>
				<h3>Step 1. Choose USB Drive</h3>
				<img src="/img/tutor/portable/portable_1.png">
				<h3>Step 2. Select ISO files</h3>
				<img src="/img/tutor/portable/portable_2.png">
				<img src="/img/tutor/portable/portable_2.1.png">
				<h3>Step 3. Start process!</h3>
				<img src="/img/tutor/portable/portable_3.png">
			</div>
		</div>
	</div>
</section>

</body>
</html>