<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<script src="/js/download.js"></script>
</head>

<body>

<% include partials/navigation.ejs %>

<section id="app">
	<div class="jumbotron" style="padding: 50px 50px">
		<h1>Bootline.exe - v 1.0.1</h1>
		<p>What's new?</p>
		<ul>
			<li>Added information page with "Guide", "About", "EULA" and "Feedback" sections</li>
			<li>Fixed bug with refreshing drive capacity after closing loader frame</li>
			<li>Fixed bug with ejecting USB drive while choosing loaders</li>
		</ul>
		<p><a class="btn btn-primary btn-lg" href="/download/application" role="button">Download last version</a></p>
	</div>
</section>

</body>
</html>