<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<link rel="stylesheet" href="/css/index.css">

	<script src="/js/index.js"></script>
</head>

<body>
<nav id="nav-wrap">
	<ul id="nav" class="nav">
		<li><a href="/" class="active">Home</a></li>
		<li><a href="/app">Application</a></li>
		<li><a href="/about">Contact</a></li>
	</ul>
</nav>

<header id="header">
	<div class="banner">
		<div class="banner-text">
			<h2 class="responsive-headline"><p>EVERYTHING YOU NEED TO CREATE</p> <p>ONLINE BOOTABLE FLASH DRIVE</p></h2>

			<div class="row">
				<div class="col-lg-1 col-lg-offset-4">
					<button class="btn btn-lg btn-warning go_to_app_btn" onclick="window.location = '/app';">GET STARTED</button>
				</div>
				<div class="col-lg-4">
					<h4><a href="#howto" class="smoothscroll">WATCH DEMO <i class="fa fa-youtube-play"></i></a></h4>
				</div>
			</div>

			<ul class="social">
				<li><a target="_blank" href="https://www.facebook.com/?q=#/dikkini"><i class="fa fa-facebook"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/dikkini"><i class="fa fa-twitter"></i></a></li>
				<li><a target="_blank" href="http://vk.com/dikkini"><i class="fa fa-vk"></i></a></li>
			</ul>
		</div>
	</div>
</header>
<section id="howto">
	<div class="row">
		<div class="col-lg-6">
			<iframe id="youtube_video" width="100%" height="450px" src="https://www.youtube.com/embed/8XFBUM8dMqw?autoplay=0"></iframe>
		</div>
		<div class="col-lg-1 split-line">
			<div class="vertical_dotted_line"></div>
		</div>
		<div class="col-lg-5">
			<div id="description">
				<div class="row">
					<div class="col-lg-2">
						<div class="numberCircle">1</div>
					</div>
					<div class="col-lg-9">
						<h3 class="higher">Do your flash drive bootable online*</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<div class="numberCircle">2</div>
					</div>
					<div class="col-lg-9">
						<h3 class="higher">Multiple loaders on 1 flash drive</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<div class="numberCircle">3</div>
					</div>
					<div class="col-lg-9">
						<h3 class="higher">Supports more than 10 loaders</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<div class="numberCircle">4</div>
					</div>
					<div class="col-lg-9">
						<h3 class="higher">No loss of data</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<div class="numberCircle">5</div>
					</div>
					<div class="col-lg-9">
						<h3 class="higher">Portable application for Windows</h3>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-offset-3">
						<button class="btn btn-lg btn-warning go_to_app_btn" onclick="window.location = '/app';">Try it your self!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>