<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<link rel="stylesheet" href="/css/index.css">

	<script src="/js/index.js"></script>
</head>

<body>

<% include partials/navigation.ejs %>

<header id="header">
	<div class="banner">
		<div class="banner-text">
			<h2 class="responsive-headline"><p>EVERYTHING YOU NEED TO CREATE</p> <p>ONLINE BOOTABLE FLASH DRIVE</p></h2>

			<div class="row">
				<div class="col-xs-2 col-xs-offset-4">
					<button class="btn btn-lg btn-warning round_btn" onclick="window.location = '/online';">
						<span class="font">GET STARTED</span>
					</button>
				</div>
				<div class="col-xs-3">
					<h4><a href="#learnmore" class="smoothscroll">LEARN MORE <i class="fa fa-arrow-down"></i></a></h4>
				</div>
			</div>

			<ul class="social">
				<li><a target="_blank" href="https://www.facebook.com/?q=#/"><i class="fa fa-facebook"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
				<li><a target="_blank" href="http://vk.com/"><i class="fa fa-vk"></i></a></li>
			</ul>
		</div>
	</div>
</header>
<section id="learnmore">
	<div class="banner-text text-center">
		<h2>Main Features</h2>
	</div>
	<div id="features" class="row">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-2">
					<div class="numberCircle">1</div>
				</div>
				<div class="col-lg-9">
					<h3 class="higher">Creating Multiboot USB flash drive</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="numberCircle">2</div>
				</div>
				<div class="col-lg-9">
					<h3 class="higher">Formatting is not required in most cases</h3>
				</div>
			</div>
			<div class="row">
					<div class="col-lg-2">
						<div class="numberCircle">3</div>
					</div>
					<div class="col-lg-9">
						<h3 class="higher">Helps to find disk images</h3>
					</div>
				</div>
		</div>
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-2">
					<div class="numberCircle">4</div>
				</div>
				<div class="col-lg-9">
					<h3 class="higher">No Advertisement nor in online nor in portable</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="numberCircle">5</div>
				</div>
				<div class="col-lg-9">
					<h3 class="higher">Portable app - installation not required</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="numberCircle">6</div>
				</div>
				<div class="col-lg-9">
					<h3 class="higher">Intuitive interface in your browser</h3>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div id="go-to-app-btn-container" class="col-xs-12 col-lg-offset-5">
			<button class="btn btn-lg btn-warning go_to_app_btn" onclick="window.location = '/online';">
				<span class="font">TRY IT YOURSELF</span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			<span class="adv">
				<a href="http://www.softpedia.com/get/System/Boot-Manager-Disk/BootLine.shtml#status" title="Softpedia">
					<img src="http://s1.softpedia-static.com/_img/sp100clean.png"/>
				</a>
			</span>
		</div>
		<div class="col-xs-2">
			<span class="adv">
				<a href="http://www.downloadroute.com/BootLine-BootLine.html"><img src="http://www.downloadroute.com/images/download-buttons/BootLine-BootLine.png" border="0" width="160" height="80" alt="BootLine download"></a>
			</span>
		</div>
		<div class="col-xs-2">
			<span class="adv">
				<a href="http://www.freewarepark.com/bootline.html"><img src="http://www.freewarepark.com/images/freewarepark_listed_80.png" border="0" width="80" height="80" alt="BootLine freeware"></a>
			</span>
		</div>
		<div class="col-xs-2">
			<span class="adv">
				<a href="http://www.helpdesk-software.org/" target="_blank" title="Helpdesk-Software.org">www.Helpdesk-Software.org</a>
			</span>
		</div>
	</div>
</section>

</body>
</html>