<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">
	<% include partials/head.ejs %>
	<script src="/js/index.js"></script>
	<script src="/assets/small_ui/js/main_new.js"></script>
	<link rel="stylesheet" href="/assets/small_ui/css/normalize.css">
	<link rel="stylesheet" href="/assets/small_ui/css/main_new.css">
	<!--[if !IE]><!-->
		<link rel="stylesheet" href="/assets/small_ui/css/main_new_not_ie.css">
	<!--<![endif]-->

	<!--[if lte IE 9]>
		<link rel="stylesheet" href="/assets/small_ui/css/main_new_ie_lte_9.css">
	<![endif]-->
</head>

<body>
<% include partials/nav.ejs %>

<div id="page-content" class="container">
	<div class="row">
		<div id="left-content" class="col-lg-3">
			<p>Два простых шага чтобы начать пользоваться приложением:</p>
			<p>
				1. Запустить приложение <a id="application-url" href="http://bootline.net/clickonce/ClickLine.application">кликнув по ссылке</a>
			</p>
			<p>
				2. Обновить страницу если она сама не обновилась чтобы появился интерфейс приложения
			</p>
			<hr>
			<p>Если вы видите ошибку, </p><img src="/img/iframe_error.png" height="50px"/>

			<p>а не интерфейс программы, то вам необходимо запустить сервер после чего обновить страницу</p>
		</div>
		<div id="right-content" class="col-lg-9">
			<div class="row" style="padding-bottom: 30px;">
				<button id="launchApp" class="btn btn-primary col-lg-12">Continue</button>
			</div>
			<div id="loader-list">
				<div class="row loader-row">
					<div class="col-lg-6">
						<div id="addLoaderBtn" class="trian box-shadow"><div id="addCross"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>