<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<script src="/js/index.js"></script>
</head>

<body>
<nav id="nav-wrap">
	<ul id="nav" class="nav">
		<li><a href="/" class="active">Home</a></li>
		<li><a href="/app">Application</a></li>
		<li><a href="/about">Contact</a></li>
	</ul>
</nav>

<header id="header">
	<div class="banner">
		<div class="banner-text">
			<h1 class="responsive-headline">Welcome to BootLine.net</h1>

			<ul class="social">
				<li><a target="_blank" href="https://www.facebook.com/?q=#/dikkini"><i class="fa fa-facebook"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/dikkini"><i class="fa fa-twitter"></i></a></li>
				<li><a target="_blank" href="http://vk.com/dikkini"><i class="fa fa-vk"></i></a></li>
			</ul>

			<p class="scrolldown">
				<a href="#howto" class="smoothscroll">
					<i class="icon-down-circle color-black"></i>
				</a>
			</p>
		</div>
	</div>
</header>
<section id="howto">

</section>
</body>
</html>