extends layout

block content
  div.container
    h1=title
    a(href='/clickonce/BootLineCO.application') ClickOnceApplication
    p Welcome to #{title}
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.
    p.lead Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.