<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<link rel="stylesheet" href="/css/online.css">
	<link rel="stylesheet" href="/assets/lightbox/colorbox.css">

	<!--[if IE]>
		<link rel="stylesheet" href="/assets/small_ui/css/main_ie.css">
	<![endif]-->

	<script src="/assets/lightbox/jquery.colorbox-min.js"></script>
	<script src="/js/online.js"></script>
</head>

<body>

<% include partials/navigation.ejs %>

<input id="sessionId" type="hidden">
<input id="isClickOnce" type="hidden">
<input id="isAppRunning" type="hidden">
<input id="application-url" type="hidden" href="/clickonce/ClickLine.application">

<section id="app">
	<div id="page-content" class="row">
		<div class="jumbotron" style="padding: 50px 50px">
			<h1>Bootline Online Version - v 1.0</h1>
			<div class="row">
				<div class="col-lg-6">
					<p>What's new?</p>
					<ul>
						<li>Online application is now available in most popular Windows browsers.</li>
						<li>New Tutorial</li>
						<li>Improvements of feedback form</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<p><button id="launchApp" class="btn btn-primary btn-lg" type="button">Launch Online Application</button></p>
				</div>
				<div id="howto-block" class="col-xs-6 banner-text">
					<h3><a href="#" class="smoothscroll" data-toggle="modal" data-target="#howto-modal">HOW TO</a></h3>
				</div>
			</div>
		</div>
		<div id="loader-list">
			<div class="row loader-row">
				<div id="addLoaderBtnContainer" class="col-lg-6">
					<div id="addLoaderBtn" class="trian box-shadow">
						<div id="addCross"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--<section id="app">-->
	<!--<div id="page-content" class="row">-->
		<!--<div class="row">-->
			<!--<div id="right-content" class="col-lg-12">-->
				<!--<div class="row" style="padding-bottom: 30px;">-->
					<!--<div class="col-xs-2 col-xs-offset-4">-->
						<!--<button id="launchApp" class="btn btn-lg btn-warning round_btn" onclick="window.location = '/online';">-->
							<!--<span class="font">START APP</span>-->
						<!--</button>-->
					<!--</div>-->
					<!--<div id="howtolink" class="col-xs-2 banner-text">-->
						<!--<h4><a href="#" class="smoothscroll" data-toggle="modal" data-target="#howto-modal">HOW TO</a></h4>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div id="loader-list">-->
					<!--<div class="row loader-row">-->
						<!--<div id="addLoaderBtnContainer" class="col-lg-6">-->
							<!--<div id="addLoaderBtn" class="trian box-shadow"><div id="addCross"></div></div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->

<div id="howto-modal" class="modal fade">
	<div class="modal-dialog" style="width: 100% !important; margin-top: 100px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Five easy steps before you will burn your falsh drive online!</h4>
			</div>
			<div class="modal-body">
				<div class="row banner-text">
					<div class="col-lg-3 col-lg-offset-2">
						<h3>Step 1 <small>Add loader </small></h3>
					</div>
					<div class="col-lg-3">
						<h3>Step 2 <small>Press START APP</small></h3>
					</div>
					<div class="col-lg-3">
						<h3>Step 3 <small>Launch ClickOnce application</small></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-lg-offset-2">
						<div class="circular" href="/img/tutor/helper_1.png" style="background: url(/img/tutor/helper_1.png) 30% 40%;"></div>
					</div>
					<div class="col-lg-3">
						<div class="circular" href="/img/tutor/helper_2.png" style="background: url(/img/tutor/helper_2.png) 40% 10%;"></div>
					</div>
					<div class="col-lg-3">
						<div class="circular" href="/img/tutor/helper_3.png" style="background: url(/img/tutor/helper_3.png) 10% 30%;"></div>
					</div>
				</div>
				<hr style="padding-top: 30px;">
				<div class="row banner-text">
					<div class="col-lg-3 col-lg-offset-3">
						<h3>Step 4 <small>Let UAC launch BootLine application</small></h3>
					</div>
					<div class="col-lg-3">
						<h3>Step 5 <small>Let firewall launch BootLine application</small></h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-lg-offset-3">
						<div class="circular" href="/img/tutor/helper_4.png" style="background: url(/img/tutor/helper_4.png) 10% 10%;"></div>
					</div>
					<div class="col-lg-3">
						<div class="circular" href="/img/tutor/helper_5.png" style="background: url(/img/tutor/helper_5.png) 40% 30%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>