<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include partials/head.ejs %>

	<link rel="stylesheet" href="/css/online.css">
	<link rel="stylesheet" href="/assets/lightbox/colorbox.css">

	<!--[if IE]>
		<link rel="stylesheet" href="/assets/small_ui/css/main_ie.css">
	<![endif]-->

	<script src="/assets/lightbox/jquery.colorbox-min.js"></script>
	<script src="/js/online.js"></script>
</head>

<body>

<% include partials/navigation.ejs %>

<input id="sessionId" type="hidden">
<input id="isClickOnce" type="hidden">
<input id="isAppRunning" type="hidden">
<input id="application-url" type="hidden" href="/clickonce/ClickLine.application">

<section id="app">
	<div id="page-content" class="row">
		<div class="jumbotron" style="padding: 50px 50px">
			<h1>Bootline Online Version - v 1.0</h1>
			<div class="row">
				<div class="col-lg-6">
					<p style="margin: 0;">What's new?</p>
					<ul>
						<li>Online application is now available in most popular Windows browsers.</li>
						<li>New Tutorial</li>
						<li>Improvements of feedback form</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p><button id="launchApp" class="btn btn-primary btn-lg" type="button">Launch Online Application</button></p>
				</div>
			</div>
		</div>
		<div id="howto_ie" class="row" style="display: none;">
			<div class="col-lg-10 col-lg-offset-2">
				<h2>Four easy steps to make bootable USB online</h2>
				<h3>Step 1. </h3>
				<img src="/img/tutor/online_ie/ie_1.png">
				<h3>Step 2. </h3>
				<img src="/img/tutor/online_ie/ie_2.png">
				<h3>Step 3. </h3>
				<img src="/img/tutor/online_ie/ie_3.png">
				<h3>Step 4. </h3>
				<img src="/img/tutor/online_ie/ie_4.png">
			</div>
		</div>

		<div id="howto_other" class="row" style="display: none;">
			<div class="col-lg-10 col-lg-offset-2">
				<h2>Four easy steps to create bootable USB online</h2>
				<h3>Step 1. Download Bootline.exe and launch it</h3>
				<img src="/img/tutor/online_other/other_1.png">
				<h3>Step 2. Start to work with it in your browser</h3>
				<img src="/img/tutor/online_other/other_2.png">
				<h3>Step 3. Make bootable USB online with dynamic progress</h3>
				<img src="/img/tutor/online_other/other_3.png">
				<h3>Step 4. Leave feedback</h3>
				<img src="/img/tutor/online_other/other_4.png">
			</div>
		</div>
	</div>
</section>

</body>
</html>