extends layout

block content
	div.container.row
		div.col-lg-3
			p Если вы видите ошибку,
			img(src="/img/iframe_error.png" height="75px")
			p а не интерфейс программы, то вам необходимо запустить сервер
		div.col-lg-6
			iframe(width='800', height='600', scrolling='no', frameborder='no', src=ip)