@import url("../assets/fonts/fonts.css");
@import url("../assets/fonts/fontello/css/fontello.css");
@import url("../assets/fonts/font-awesome/css/font-awesome.min.css");

body {
    padding: 50px;
    background: transparent;
}

html, body {
    height: 100%;
}

/**
		TYPOGRAPHY
**/

h1, h2, h3, h4, h5, h6 {
    color: #313131;
    font-family: 'opensans-bold', sans-serif;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }

p { margin: 0 0 30px 0; }

h1, h2, h3, h4, h5, h6 {
    color: #313131;
    font-family: 'opensans-bold', sans-serif;
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 38px; line-height: 42px; margin-bottom: 12px; letter-spacing: -1px; }
h2 { font-size: 28px; line-height: 36px; margin-bottom: 6px; }
h3 { font-size: 22px; line-height: 30px; margin-bottom: 12px; }
h4 { font-size: 20px; line-height: 30px; margin-bottom: 6px; }
h5 { font-size: 18px; line-height: 30px; }
h6 { font-size: 14px; line-height: 30px; }

h3.higher {
    margin-top: 20px;
    font-family: 'librebaskerville-regular', sans-serif;
}

span.font {
    font-family: 'librebaskerville-regular', sans-serif;
}

/*
		HEADER
*/
header {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    /*background: #161415 url(../img/header-background.png) no-repeat top center;*/
    background-color: white;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: auto;
}

/* vertically center banner section */
header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 90%;
}

header .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 150px;
    text-align: center;
}

header .banner-text {
    width: 100%;
}

header .banner-text h1 {
    font: 90px/1.1em 'librebaskerville-regular', sans-serif;
    color: #193C54;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h2 {
    font: 36px/1.1em 'librebaskerville-regular', sans-serif;
    color: #193C54;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
    font: 18px/1.1em 'librebaskerville-regular', serif;
    color: #A8A8A8;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h4 {
    font: 14px/3.3em 'librebaskerville-regular', serif;
    color: #A8A8A8;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

header .banner-text h3 span,
header .banner-text h3 a {
    color: #fff;
}

header .banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}


/*
    SECTION
*/

section {
    /*padding-top: 48px;*/
    padding-bottom: 48px;
    font-size: 14px;
    position: relative;
}


/*
	SOCIAL LINKS
*/
.social {
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -79px;
    color: #193C54;
    display: block;
    height: 42px;
    padding: 0;
    font-size: 30px;


    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.social li a {
    color: white;
}

.social li a:hover {
    color: #193C54;
}

.scrolldown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #193C54;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    border-radius: 100%;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.scrolldown a:hover {
    color: black;
}

a.smoothscroll {
    color: #193C54 !important;
    text-decoration: none !important;
}

.circular {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}