<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div id="page-content">
  <div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </div>
</div>

</body>
</html>

