<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/main.css">

	<script src="/js/social/main.js"></script>
</head>

<body>

<% include ../partials/functions.ejs %>

<% include ../partials/navigation.ejs %>

<section>
	<div class="row">
		<div id="recent-gratitudes" class="col-xs-3" style="margin-top: 10px;">
			<% include ../partials/gratitudes.ejs %>
		</div>
		<div class="col-xs-9">
			<table class="table forum">
				<thead>
				<tr>
					<th class="cell-stat"></th>
					<th class="cell-stat hidden-xs hidden-sm">Topics</th>
					<th class="cell-stat text-center hidden-xs hidden-sm">Comments</th>
				</tr>
				</thead>
				<tbody>
					<% var topics = pageData.topics; %>
					<% for(var i=0; i < topics.length; i++) { %>
					<% var topic = topics[i]; %>
					<tr>
						<td class="text-center"><i class="fa fa-comments fa-2x text-primary"></i></td>
						<td>
							<h4>
								<a href="/social/topic/<%= topic.id %>">
									<p class="topic-subject"><%= topic.subject %></p>
								</a>
							</h4>
						</td>
						<td class="text-center hidden-xs hidden-sm"><span class="badge"><%= topic.commentsCount %></span></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</section>
</body>
</html>