<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine - Categories Topics</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/main.css">

	<script src="/js/social/main.js"></script>
</head>

<body>

<% include ../partials/functions.ejs %>

<% include ../partials/navigation.ejs %>

<section>
	<div class="row">
		<div id="recent-gratitudes" class="col-xs-3" style="margin-top: 10px;">
			<% include ../partials/gratitudes.ejs %>
		</div>
		<div class="col-xs-9">
			<ol class="breadcrumb">
				<li><a href="/social">Categories</a></li>
				<li class="active">Topics</li>
			</ol>
			<div class="row">
				<div class="col-xs-1">
					<i class="fa fa-comments fa-2x text-primary"></i>
				</div>
				<div class="col-xs-8">
					<div><strong>Topics</strong></div>
				</div>
				<div class="col-xs-2">
					<div class="text-center"><strong>Comments</strong></div>
				</div>
			</div>
			<% var topics = pageData.topics; %>
			<% for(var i=0; i < topics.length; i++) { %>
			<% var topic = topics[i]; %>
			<hr>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-8">
					<h4>
						<a href="/social/topic/<%= topic.id %>">
							<div class="topic-subject-small"><%= topic.subject %></div>
						</a>
						<br>
						<div class="topic-subject-small"><small><%= topic.text %></small></div>
					</h4>
				</div>
				<div class="col-xs-2 container">
					<div class="text-center"><span class="badge"><%= topic.commentsCount %></span></div>
				</div>
			</div>
			<% } %>
			<% if (topics.length == 0) { %>
			<hr>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-8">
					<h4>
						<div class="topic-subject-small">No topics in this category yet!</div>
						<br>
					</h4>
				</div>
				<div class="col-xs-2 container"></div>
			</div>
			<% } %>
		</div>
	</div>
</section>
</body>
</html>