<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/index.css">

	<script src="/js/social/main.js"></script>
	<script src="/js/social/index.js"></script>
</head>

<body>

<% include ../partials/navigation.ejs %>

<section>
	<div class="row">
		<div class="col-xs-4" style="margin-top: -9px;">
			<% var categories; %>
			<h4>Recent Gratitude's</h4>
			<% for(var i=0; i < categories.length; i++) { %>
			<a href="/social/topic/" class="topic list-group-item">
				<div class="row">
					<div class="col-xs-8">
						<h4 class="list-group-item-heading topic-subject">asd</h4>
						</div>
					<div class="col-xs-4">
						<small>33 hours ago</small>
						</div>
					</div>
				<p class="list-group-item-text topic-text">njjlnl</p>
			</a>
			<% } %>
		</div>
		<div class="col-xs-8">
			<table class="table forum">
				<thead>
					<tr>
						<th class="cell-stat hidden-xs hidden-sm">Categories</th>
						<th class="cell-stat text-center hidden-xs hidden-sm">Topics</th>
						<th class="cell-stat text-center hidden-xs hidden-sm">Posts</th>
					</tr>
				</thead>
				<tbody>
					<% var categories; %>
					<% for(var i=0; i < categories.length; i++) { %>
					<% var category = categories[i]; %>
					<tr>
						<td>
							<h4><a href="#"><%= category.name %></a><br><small><%= category.description %></small></h4>
						</td>
						<td class="text-center hidden-xs hidden-sm"><a href="#"></a></td>
						<td class="text-center hidden-xs hidden-sm"><a href="#"></a></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</section>
</body>
</html>