<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine</title>
	<meta charset="UTF-8">

	<% include ../partials/head.ejs %>

	<link rel="stylesheet" href="/css/social/index.css">

	<script src="/js/social/main.js"></script>
	<script src="/js/social/category.js"></script>
</head>

<body>

<% include ../partials/navigation.ejs %>

<section id="app">
	<div class="list-group col-xs-6 col-xs-offset-3">
		<% var topic; %>
		<a data-topicid="10" href="#" class="topic list-group-item">
			<div class="row">
				<div class="col-xs-8">
					<h4 class="list-group-item-heading topic-subject"><%= topic.subject %></h4>
				</div>
				<div class="col-xs-4">
					<small><%= topic.since %></small>
				</div>
			</div>
			<p class="list-group-item-text"><%= topic.text %></p>
		</a>
	</div>
</section>
</body>
</html>