.topic-text {
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
}

.topic-subject {
    width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
}

.comment-list .comment {
    padding-top: 30px;
}
.comment-list .comment:first-child {
    padding-top: 0px !important;
}

.comment-header {
    background-color:#e6e7e4;
}

.smaller {
    font-size: 65%;
}

/* start fix bootstrap */
.row {
    margin-left: 0px !important;
}

.panel-heading {
    padding: 0px !important;
}

/* end fix bootstrap */

#category-header {
    text-align: center;
}

.category-header {
    text-align: center;
}

.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}
