<!DOCTYPE>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<title>BootLine - Library</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/css/library/articles/main.css">

	<% include ../../partials/head.ejs %>

	<script src="/js/library/articles/main.js"></script>
</head>

<body>

<% include ../../partials/navigation.ejs %>

<section id="about" class="banner-text">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="tabbable">
					<ul class="nav nav-pills nav-stacked col-md-1">
						<li class="active"><a href="#a" data-toggle="tab">Articles</a></li>
					</ul>
					<div class="tab-content col-md-9">
						<div class="tab-pane active" id="a">
							<ul>
								<li><a href="/library/how-to-make-kasperksy-live-cd-to-usb">How to make Kasperksy Live CD to USB</a></li>
								<li><a href="/library/how-to-make-clonezilla-live-cd-to-usb">How to make Clonezilla Live CD to USB</a></li>
								<li><a href="/library/how-to-make-avg-rescue-disk-to-usb">How to make AVG Rescue Disk to USB</a></li>
								<!--<li><a href="/library/how-to-make-hirens-boot-cd-to-usb">How to make Hiren's Boot CD to USB</a></li>-->
								<!--<li><a href="/library/how-to-make-parted-magic-cd-to-usb">How to make Parted Magic to USB</a></li>-->
								<li><a href="/library/how-to-make-drweb-live-disk-to-usb">How to make Dr. Web Live Disk to USB</a></li>
								<li><a href="/library/how-to-make-ubuntu-linux-to-usb">How to make Ubuntu Linux to USB</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>
</section>
</body>
</html>